.env
files
__pycache__/utilities.cpython-312.pyc
src/__pycache__/config.cpython-312.pyc
src/crew_ai/__pycache__/businessreqs_crew.cpython-312.pyc
src/utils/__pycache__/__init__.cpython-312.pyc
src/utils/__pycache__/document_handler.cpython-312.pyc
src/utils/__pycache__/llm_handler.cpython-312.pyc
src/utils/__pycache__/streamlit_expander.cpython-312.pyc
src/db/chroma.sqlite3
