.env
files
__pycache__/utilities.cpython*
src/__pycache__/config.cpython*
src/crew_ai/__pycache__/businessreqs_crew.cpython*
src/utils/__pycache__/__init__.cpython*
src/utils/__pycache__/document_handler.cpython*
src/utils/__pycache__/llm_handler.cpython*
src/utils/__pycache__/streamlit_expander.cpython*
src/db/chroma.sqlite3
src/crew_ai/__pycache__/crewai_utils.cpython*