streamlit==1.35.0 
streamlit-chat==0.1.1 
streamlit-extras==0.4.0 
langchain==0.1.19 
langchain-chroma==0.1.0 
langchain-community==0.0.38 
langchain-core==0.1.52 
langchain-groq==0.0.1 
langchain-openai==0.1.7 
langchain-text-splitters==0.0.1
python-dotenv==1.0.0
crewai==0.30.11 
crewai-tools==0.2.6
embedchain==0.1.105
browserbase==0.1.4
pydantic==2.7.1
chromadb==0.5.0 
tiktoken==0.7.0 
PyPDF2==3.0.1 
python-docx==1.1.2
transformers==4.35.2
torch==2.2.1 
huggingface-hub==0.22.1 
pandas==2.2.1
fpdf==1.7.2
