browserbase
chromadb
crewai
crewai-tools
fpdf
huggingface-hub
langchain
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-text-splitters
pandas
pydantic
python-docx
python-dotenv
PyPDF2
sentence-transformers
streamlit
streamlit_card
streamlit-chat
streamlit-extras
transformers
